<% frontend_base = ENV.fetch('FRONTEND_URL', 'https://your-frontend.example.com') %>
<% reset_link = URI.join(frontend_base + '/', "reset-password?reset_password_token=#{@token}&email=#{CGI.escape(@resource.email)}").to_s %>

<p>Hello <%= @resource.try(:first_name) || @resource.email %>,</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><a href="<%= reset_link %>">Change my password</a></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

